@use '@assets/styles/helpers/media' as *;
@use '@assets/styles/helpers/functions' as *;
@use '@assets/styles/variables' as *;

$c-bg-card: $c-link-main;
$c-border-card: $c-primary-300;
$c-hover: $c-primary-300;

.card {
  cursor: pointer;

  position: relative;

  overflow: hidden;

  width: rem(300);
  height: rem(500);
  border: 1px solid $c-border-card;
  border-radius: rem(10);

  background: transparent;

  @include hover {
    transform: scale(1.03);
    box-shadow: rem(8) rem(8) rem(24) 0 $c-hover;
    transition: $transition-duration;
  }

  &__item {
    display: flex;
    gap: rem(20);
    align-items: center;
  }

  &__title {
    text-align: center;
  }

  &__label {
    font-size: rem(20);
    font-weight: bold;
  }

  &__checkbox {
    position: absolute;
    right: rem(20);
    bottom: rem(20);

    width: rem(20);
    height: rem(20);
  }
}
