@use 'variables' as *;
@use 'helpers/mixins' as *;
@use 'helpers/functions' as *;
@use 'helpers/media' as *;

$c-font: var(--c-main);
$c-background: var(--c-bg);
$c-background-line: $c-primary-005-dark;
$c-link: var(--c-link);
$c-link-hover: var(--c-link-hover);
$f-family: $f-family-base;

body {
  @include fluid-text(18, 14);

  font-family: $f-family;
  color: $c-font;

  background-color: $c-background;
  background-image:
    linear-gradient($c-background-line rem(0.5), transparent rem(1)),
    linear-gradient(90deg, $c-background-line rem(0.5), transparent rem(1));
  background-attachment: fixed;
  background-size: rem(50) rem(50);

  transition:
    background-color $transition-duration,
    color $transition-duration;
}

h3 {
  @include fluid-text(30, 30);
}

a,
button,
input,
select,
svg * {
  transition: $transition-duration;
}

a {
  color: $c-link;

  @include hover {
    color: $c-link-hover;
  }
}

:focus-visible {
  outline: rem(2) dashed;
  outline-offset: rem(4);
  transition-duration: 0s !important;
}
