@use 'helpers/functions' as *;

$c-light-main: #eef8ce;
$c-light-secondary: #e3e78d;
$c-dark-main: #20211c;
$c-dark-secondary: #0f170f;
$c-bg-dark: #1b1b1b;
$c-bg-light: #a2a2a4;
$c-link-hover: #e0ab26;
$c-link-main: rgba($c-link-hover, 0.6);
$c-primary-300: rgb(139 134 162 / 40%);
$c-primary-005-dark: rgb(255 255 255 / 5%);
$c-primary-005-light: rgb(0 0 0 / 5%);
$c-first-comet: gold;
$c-second-comet: lime;
$container-width: #{rem(1280)};
$container-padding-x: #{rem(20)};
$transition-duration: 0.2s;
$f-family-base: 'Roboto', 'sans-serif';
$f-family-accent: 'Inter', 'sans-serif';
